
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height : 100vh;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

.header-link :hover {
    color: #8b8989;
}


.header-section {  
    width: 900px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
} 

.hero-section {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 400px;
}

#hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #e5e7eb;
    width: 400px;
    height: 250px;
}

.hero-signup {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    border-color: #3882f6;
    font-size: 16px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.hero-secondary, a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-bottom: 16px;
}

.info-section {   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 1;
    
}


.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin: 20px;
}


#info-image {
    border: 3px solid #3882f6;
    border-radius: 10%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
/* Information-section images and its subtext */
.info {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    width: 200px;
    height: 250px;
    margin: 0 10px;
    text-align: center;

}

/* Quote-section and its contents */
.quote-section {  
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.quote-container {
    width: 800px;
    margin: 40px 0 40px 0;
}

.quote-body { 
    display: flex;
    flex-wrap: wrap;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
}

.quote-name { 
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 40px 0;
    flex: 1;
}

.button-section {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    width: 900px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.info-signup {
    border-radius: 8px;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-color: #e5e7eb;
    font-size: 16px;
    font-weight: 700;
    color: #e5e7eb;
}

.footer {
    height: 72px;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
